* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F9E79F;


}

html {
    scroll-behavior: smooth;
}


nav {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4c4c3;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100vw;
}


nav a {
    font-family: 'Poppins' sans-serif;
    font-weight: 560;
    font-size: 25px;
    text-decoration: none;
    color: #5C3A21;
    cursor: pointer;
}

nav a:hover {
    color: #8B5E3C;
    transition: 0.3s;
}

nav img {
    width: 190px;
}



.pai-imgs {

    display: flex;

    align-items: center;
    justify-content: center;
    margin-top: 85px;


}

.imgs-filho {
    display: flex;
    gap: 25px;

}

.imgs-filho img {
    width: 200px;
    border-radius: 20px;
}




.nomeSobre {
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;
}



.texto {
    max-width: 700px;
    margin: 0 auto;
    width: 850px;
    font-weight: 500;
    font-size: 25px;
    text-align: justify;
    font-family: 'Poppins' sans-serif;
    color: #5C3A21;

}


.cardapio {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;



}


.banner {
    margin-bottom: 80px;
}

.banner img {
    width: 400px;
    border-radius: 55px;}


.Pai {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 280px;

}




.areaCarddois {
    background-color: #A47148;

    width: 350px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}



.cardDois {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}




.cardDois img {
    width: 290px;
    border-radius: 10px;




}

.preco {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;


}


.subPreco {
    color: #FDEBD0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 24px;

}

.local {

    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;
    margin-left: 210px;
}

.subLocalizacao {
    display: flex;
    background-color: #f4c4c3;
    padding: 100px;
    width: 600px;
    height: 500px;
    margin-left: 40px;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-right: 250px;
}

.subLocalizacao iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.inferior {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
   
}


.areaContato {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4c4c3;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    gap: 20px;
}
    


.subContato{
    display: flex;
    align-items: center;
    justify-content: center;
}


.links-contato p {
    font-family: 'Poppins', sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 30px;
    width: 200px;
    margin-left: 55px;



}
.links-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.links-contato a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    text-align: justify;
    margin-left: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #5C3A21;




}




@media (max-width:768px) {

    /* MENU */

    nav {


        flex-direction: row;
        align-items: center;
        gap: 10px;
    }



    /* IMAGENS */

    .imgs-filho {
        flex-direction: column;
        align-items: center;
    }

    .imgs-filho img {
        width: 90%;
    }

    /* SOBRE */

    .texto {

        padding: 20px;
        text-align: justify;
        width: auto;
    }

    .banner img {
        width: 370px;

    }



    /* CARDS */

    .Pai {
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }

    .areaCarddois {
        width: 90%;
    }

    /* FOOTER */

    .inferior {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .local {
        margin-right: 220px;
    }

    .subLocalizacao {
        margin-left: 240px;
        width: 80vw;
        height: 500px;
    }

    .subContato {
        margin-right: 0px;
    }

    .Contato {
        margin-right: 95px;
         margin-left: 110px;


    }

    .subContato p {

        text-align: center;
        margin-right: 75px;

    }

    .links-contato {
       width: 250px;
       margin-right: 20px;
    }
    .links-contato p{
        margin-left: 30px;
    }
    .links-contato a {
        
        margin-right: 0px;
    }


    .subLocalizacao {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    iframe {
        width: 100%;
        max-width: 400px;
        height: 300px;
    }

}