* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F9E79F;


}
html{
    scroll-behavior: smooth;
}


nav {
    position: fixed;
    top: 0px;
    background-color: #f4c4c3;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100vw;
}


nav a {
    font-family: 'Poppins' sans-serif;
    font-weight: 560;
    font-size: 25px;
    text-decoration: none;
    color: #5C3A21;
cursor: pointer;
}

nav img{
    width: 190px;
}



.pai-imgs {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;


}

.imgs-filho {
    display: flex;
    gap: 25px;

}

.imgs-filho img {
    width: 200px;
    border-radius: 20px;
}




.nomeSobre {
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins' sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;
}



.texto {
    max-width: 700px;
    margin: 0 auto;
    width: 850px;
    font-weight: 900;
    font-size: 25px;
    text-align: justify;
    font-family: 'Poppins' sans-serif;
    color: #5C3A21;
    
}


.cardapio {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Poppins' sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;
    
    

}



.banner img{
    width: 400px;
    border-radius: 55px;
}







.Pai {
    display: flex;
    align-items: center;
    justify-content: center;
    
}




.areaCarddois {
    background-color: #5C3A21;
    margin: 50px;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    
}



.cardDois {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    transition: all .3s;
    
}
.areaCarddois:hover {
    transform: translateY(-20px);

}


.cardDois img {
    width: 200px;
    border-radius: 10px;
    
    


}

.preco {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;


}
    

.subPreco { color: whitesmoke;
    font-family:  'Roboto' sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 20px;
  
   
}
.local{
    
    margin-top: 50px;
    font-family: 'Poppins' sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;
    margin-left:210px ;
}
.subLocalizacao{
    display: flex;
    background-color:#f4c4c3 ;
    padding: 100px;
    width: 600px;
    height: 500px;
    margin-left: 40px;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-right: 250px;
}
.subLocalizacao iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.inferior{
    display: flex;

    align-items: center;
    justify-content: center;
}

.subContato{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     background-color:#f4c4c3 ;
    padding: 100px;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-right: 250px;

}
.subContato p{
 font-family: 'Poppins' sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 25px;
    width: 200px;
margin-left: 80px;
    
}
.subContato img{
   
   margin-left: 20px;
}
.subContato a{
    margin-left: 15px;
    text-decoration: none;
    font-family: 'Poppins' sans-serif;
    font-size: 30px;
    color: #5C3A21;
    
    
   
}


.Contato{
     margin-top: 50px;
    font-family: 'Poppins' sans-serif;
    color: #5C3A21;
    font-weight: 500;
    font-size: 50px;
    margin-left:110px ;}

    
    @media (max-width:768px){

/* MENU */

nav{
    
   
    flex-direction:row;
    align-items:center;
    gap:10px; 
}



/* IMAGENS */

.imgs-filho{
    flex-direction:column;
    align-items:center;
}

.imgs-filho img{
    width:90%;
}

/* SOBRE */

.texto{
    
    padding:20px;
    text-align:justify;
    width: auto;
}
.banner img{
    width: 370px;
}


/* CARDS */

.Pai{
    flex-direction:column;
    align-items:center;
}

.areaCarddois{
    width:90%;
}

/* FOOTER */

.inferior{
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:20px;
}

.local{
    margin-right: 220px;
}
.subLocalizacao{
   margin-left: 240px;
    width: 80vw;
  height: 500px;
}
.subContato{
    margin-right: 40px;
}
.Contato{
    margin-right: 95px;
 
}
.subContato p{
    
    text-align: center;
    margin-right: 75px;

}

.subLocalizacao{
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
    width:400px;

    height:300px;
}

}